.explore-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

.explore-menu-content {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  gap: 20px;
  padding: 10px 20px;
}
.explore-menu-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  text-align: center;
  overflow-x: scroll;
  margin: 10px auto;
  width: 100%;
}
.explore-menu-items-container::-webkit-scrollbar {
  display: none;
}

.explore-menu-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu-item img {
  width: 100px;
  border-radius: 50%;
  margin: 0 20px;
}

.explore-menu hr {
  height: 2px;
  background: transparent;
  border: 1px solid rgb(255, 156, 138);
  margin: 10px 0;
}

.explore-menu-item img.active {
  border: 3px solid tomato;
  padding: 2px;
}
